#All mods
mods/*
**/*.jar
**/*.jar.meta
**/*.jar.disabled


logs/*
saves/*
screenshots/*
resourcepacks/*
shaderpackpacks/*
crash-reports/*
/.mixin.out/*
template/*
profileImage/*
downloads/*
backups/*


options.txt
usercache.json
usernamecache.json
crafttweaker.log
.curseclient
minecraftinstance.json
backups.json

config/splash.properties
config/jei/worldSettings.cfg


**/*.code-workspace
**/*.pdf
**/*.xcf